/* universal tags */
:root {
    --navy: #0a192f;
    --green: #64ffda;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--navy);
    color: var(--slate);
}

button {
    border: none
}

h3 {
    color: var(--lightest-slate);
}

.hidden {
    display: none;
}

.card {
    background-color: var(--navy);
    border: 2px solid var(--green);
    border-radius: 10px;
    overflow: hidden;
}

/* nav styling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    margin: 1% 1% 0 0;
}

.nav-link, .nav-link:visited {
    color: var(--slate);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--green);
}

#resume-btn {
    border: 2px solid var(--green);
    border-radius: 15px;
    color: var(--green);
}

#resume-btn:hover {
    background-color:  #233554;
}

/* .hamburger-menu {
    display: flex;
    justify-content: end;
    margin: 1rem 1rem 0 0;
} */

.offcanvas-body ul {
    list-style: none;
    margin: 0 2rem 1rem 0;

}

.offcanvas-body a, a:visited {
    text-decoration: none;
    color: var(--slate);
}

.offcanvas-body a:hover {
    color: var(--green);
}

#hamburger-resume-btn {
    border: 2px solid var(--green);
    border-radius: 15px;
    color: var(--green);
    padding: .5rem;
    margin: 1rem 2rem;
}

#hamburger-resume-btn:hover {
    background-color:  #233554;
}

/* main styling */
/* home section */
h1 {
    color: var(--lightest-slate);
}

.home {
    flex-wrap: wrap;
    justify-content: center;
}

#title-container {
    text-align: end;
    margin: 20% 0 0 0;
}

#profile-pic {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 15% 0 15% 0;
    padding: 0;
    box-shadow: 15px 15px var(--green);
}

/* about section */
hr {
    margin: 0;
    color: var(--green);
    background-color: var(--green);
}

.about-title {
    display: flex;
    vertical-align: center;
    margin-bottom: 2%;
}

.about-title hr {
    height: 2px;
    margin-top: 1rem;
}

.about-title h3 {
    /* color: var(--lightest-slate); */
    font-weight: bold;
    margin:0 3% 0 3%;
}

.about-text {
    margin: 0 0 0 8%;
    width: 75%;
}

.about-text a {
    width: fit-content;
    text-decoration: none;
    color: var(--green);
    display: contents;
}

.about-text p {
    margin-bottom: 1rem;
}

.about-tech-list p {
    padding: 0;
}

.about-tech-list ul {
    padding-left: 3rem;
}

.about-tech-list li {
    padding-right: 3rem;
}

/* projects section */
.projects-title {
    display: flex;
    vertical-align: center;
    margin-bottom: 2%;
}

.projects-title hr {
    height: 2px;
    margin-top: 1rem;
}

.projects-title h3 {
    /* color: var(--lightest-slate); */
    font-weight: bold;
    margin:0 3% 0 3%;
}

.projects p {
    margin: 0
}

.projects-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 8% 0 8%;
}
.card {
    margin: 2%;
}

.card a {
    text-decoration: none;
}

.project {
    max-width: 450px;
}

.projects-in-dev {
    margin: 0 0 0 10%;
}

.projects-in-dev h4 {
    color: var(--lightest-slate);
}

.projects-in-dev h5 {
    color: var(--light-slate)
}

.projects-in-dev ul {
    padding: 0 0 2rem 0;
    margin: 0 0 0 3rem;
}

/* experience section */
.experience-title {
    display: flex;
    vertical-align: center;
    margin-bottom: 2%;
}

.experience-title hr {
    height: 2px;
    margin-top: 1rem;
}

.experience-title h3 {
    /* color: var(--lightest-slate); */
    font-weight: bold;
    margin:0 3% 0 3%;
}

.experience-content {
    display: flex;
    margin-left: 10%;
    padding-bottom: 2rem;
}

.experience-content h4 {
    color: var(--light-slate);
}

.experience p {
    margin: 0;
}

.list-group {
    width: fit-content;
}

.list-group-item {
    background-color: var(--navy);
    border: 1px solid var(--navy);
    border-radius: 0;
    color: var(--green)
}

.list-group-item.active {
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 0;
    color: var(--navy)
}

.list-group-item:hover {
    background-color: var(--slate);
    border-radius: 0;
    color: var(--navy);
}

.collapse {
    display: inline-flex;
    max-width: 950px;
}

.collapse-card {
    padding: 0;
    margin: 0 0 0 1rem;
}

.collapse-card-text {
    margin: 1rem;
    background-color: var(--navy);
}

/* footer styling */
.footer-img {
    width: 50px;
    height: auto;
    margin: 0 1rem;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

footer p {
    text-align: center;
    padding-left: 2rem;
}

/* media Query */
@media (min-width: 801px) {
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 800px) {
    .hamburger-menu {
        display: none;
    }

    #title-container {
        text-align: center;
        margin: 20% 0 0 0;
    }

    #profile-pic {
        margin: 2% 13% 15% 13%;
    }

    .experience-content {
        flex-direction: column;
        justify-content: space-around;
        margin: 0 12% 0 12%;
    }

    .list-group {
        display: flex;
        flex-direction: row;
        height: fit-content;
    }

    /* TODO:collapse card/list group centered */
    /* TODO: List group inline? */
}

@media (max-width: 500px) {
    .nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        justify-content: end;
        margin: 1rem 1rem 0 0;
    }

    /* TODO:collapse card/list group centered */
    /* TODO: List group inline? */
}
