/* universal tags */
:root {
    --navy: #0a192f;
    --green: #64ffda;
    --slate: #8892b0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--navy);
    color: var(--slate);
}

button {
    border: none
}

.nav {
    margin: 1% 1% 0 0;
    border-bottom: 1px solid black;
}

.nav-link {
    color: var(--slate);
    text-decoration: none;
}

.nav-link:hover {
    color: aquamarine;
}

#resume-btn {
    border: 2px solid var(--green);
    border-radius: 15px;
    color: var(--green);
}

#resume-btn:hover {
    background-color:  #233554;
}

